.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  max-width: 1052px;
  font-size: 18px;
  margin: 92px 24px 90px;
  column-gap: 5px; 
}

.header_nav {
  display: grid;
}

.header_links-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: circle;
  line-height: 21.13px;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.header_link_active {
  text-decoration: none;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.address {
  justify-self: flex-end;
  max-width: 240.5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height:  24.3px;
  letter-spacing: 0.01em;
}

.header_address {
  margin-right: 25px;
  padding-top: 5px;
}

.cover {
  max-width: 1100px;
  padding: 165px 50px 51px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 179px;
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: -1;
}

.cover_title {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
  color: #FFF;
  position: relative;
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: initial;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_left {
  line-height: 115%;
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#FFFFFF;
  padding-top: 114px;
  position: relative;
}

.cover_description-text {
  text-transform: uppercase;
  padding-left: 30px;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #FFF;
  font-family: "Raleway",  Arial, sans-serif;
  font-weight: 500;
  line-height: 25.83px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  padding: 12px 32px;
}

.lots {
  max-width: 1052px;
  margin-left: 24px;
}

.lots_heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  padding: 0 0 27px 40px;
  text-transform: uppercase;
}

.lots_card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
  color: #FFF;
}

.lots_card-list-item {
  min-height: 563px;
  width: 334px;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_title {
  text-transform: uppercase;
  text-decoration: underline 1px;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
}

.card_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_look-more-link {
  display: block;
  font-size: 20px;
  line-height: 23px;
  padding: 30px 0 0 40px;
  text-decoration: underline 1px;
}

.about {
  width: 1052px;
  margin: 149px 0 0 24px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 15px;
}

.about_column-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 34px 7px 0 0;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background-color: #000;
}

.about_logo-image {
  width: 148px;
  height: 114px;
}

.about_column-content {
  display: grid;
  grid-template-rows: 150px min-content;
  padding-top: 133px;
}

.about_title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
}

.about_text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 180px 50px 88px 53px;
}

.footer_address {
  justify-self: start;
}

.footer_menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 18px;
  line-height: 21.13px;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}
